body {
    background-color: rgb(24, 10, 83);
    color: rgb(255, 255, 255);
    font: normal 18pt arial;
    margin: 0;
    padding: 0;
}
.home {
    color: black;
    background-color: rgb(255, 255, 255);
    background-image: url(./img/galax.gif);
    list-style: none; /*Deixa a lista sem marcação*/
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 0;
    border: 3px solid #990066ed; 
    border-radius: 20px;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.home li {
    display: inline-block;
    margin: 30px 80px;
}
.home a {
    color: rgb(255, 0, 0);
    text-transform: none;
}
.home a:hover {
    color: rgb(255, 0, 0);
    font-size: larger;
}
.secoes {
    color: rgb(40, 175, 228);
    text-align: center;
    font-style: italic;
}
.texto-informativo {
    text-align: center;
}
.js {
    height: 270px;
    width: 330px;
    margin: 50px 255px 10px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    position: relative;
    top: 1px;
    left: 100px;
    right: 10px;
    bottom: 50px;
}
.HTML {
    height: 250px;
    width: 250px;
    margin: 1px 250px 10px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    top: 1px;
    left: 100px;
    right: 10px;

}
.estilo {
    height: 270px;
    width: 330px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    position: relative;
    top: 1px;
    left: 348px;
    right: 10px;
    bottom: 50px;
}
.o-que-sao-linguagens {
    height: 270px;
    width: 330px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 5px;
    position: relative;
    top: 1px;
    left: 348px;
    right: 10px;
    bottom: 80px;
}
.vidio {
    border: 5px solid red;
    border-radius: 30px;
}
.informacoes {
    background-color: rgb(14, 50, 92);
    border: 2px solid black;
    border-radius: 0px;
}